<mat-toolbar class="navbar" *ngIf="!isLoginRoute()">
  <!-- Left: App Name -->
  <span class="logo" routerLink="/dashboard">🏥 HPMS</span>

  <div class="navbar-badge">
    <div class="today-badge-label">Today's Scheduled Appointments</div>
    <button
      mat-icon-button
      class="today-badge-button"
      matBadge="{{ todayAppointmentsCount }}"
      matBadgePosition="above after"
      [matBadgeOverlap]="false"
      aria-label="Today's scheduled appointments"
    >
      <mat-icon>event_available</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <!-- User Info -->
  <div class="user-section" *ngIf="currentUser">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="email-button">
      <span class="email">{{ currentUser.email }}</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        {{ currentUser.email }}
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
